<!DOCTYPE html>
<html>
  <head>
    <title>Congress Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Congress Tracker</h1>
    <p>Welcome to your customizable platform for tracking activities of US Congressional Committee Meetings & Bills.</p>
    
  </body>
</html>
